body{
background-image: url("../img/azul.jpg");
}

.ti1 ul {
  list-style-type: none;
  text-align: left;
    background-image: url("../img/nueva.jpg");
}

.ti1 li {
  font-family: URW Gothic L;
  font-size: 60px;
  color: white;

  display: inline-block;
border-color: white;
  padding-bottom:  20px;

}
.links{
  float: left;
  width: 20%;
  background-color: transparent;
}

.links ul {
  list-style-type: none;
  padding-left: 0px;
}
.links ul li {
  padding-left: 10px;
  margin-top: 10px;
  border-left: 5px solid white;

}

.texto{
  float: right;
}
.texto p{
text-align: justify;
color: black;
}
 .texto h2{
   font-family: URW Gothic L;
   text-align: center;
   color: black;
   font-size: 30px;
 }
