body{
background-image: url("../img/fon2.jpg");


}
.titulo ul {
  list-style-type: none;
  text-align: center;
}

.titulo li {
  font-family: URW Chancery L;
  font-size: 60px;
  color: white;
  font-weight: bold;
  display: inline-block;
border-bottom:  3px double #000;
border-color: white;
  padding-bottom:  20px;
  background-color: transparent;
}


h1{
font-size: 70px;
padding-top: 30px;
text-align: center;
font-family: URW Gothic L;
font-weight: lighter;
color: white;
}



.menu-cuentos ul{
  list-style-type: none;
  text-align: center;;


}

.menu-cuentos li{
    display: inline-block;
    background-color: transparent;

}
.menu-cuentos li img{

  height: 300px;
  animation-duration: 2s;
  animation-name: slidein;

  animation-direction: alternate;
  border-radius: 40%;

}




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
